body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
}

.wrapper {
  background: $gradient-supersoft;
}

.container {
  //? at 0 go to infinity...
  padding: 0 30px;

  @include viewport-md {
    max-width: 708px;
    margin: 0 auto;
  }

  @include viewport-lg {
    max-width: 964px;
  }

  @include viewport-xl {
    max-width: 1380px;
  }

  @include viewport-2xl {
    max-width: 1660px;
  }
}

.dotted {
  display: none;
  //? margin: 0 6px;

  @include viewport-md {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: $radius-circle;
    background: $separator-color;

    &--gray {
      background: $text-color;
    }
  }
}


// a {
//   text-decoration: none;
//   color: $active-color;
// }